In [72]:
import pandas as pd
from datetime import datetime as dt
path = '/Users/mattcollins/Projects/MyProject/KanjiProgram/csvs/results2.csv'
df = pd.read_csv(path)
df["date"] = pd.to_datetime(df['date'], format="%d/%m/%Y")
today = (dt.today()).strftime('%d/%m/%Y')
df_short = df[['index_word', 'date','result']]
df_final = df_short[df_short['date'] == today].groupby('index_word')['result'].agg(['mean', 'count'])
df_final[df_final['mean']<0.9].sort_values(by='count', ascending=False)

                mean  count
index_word
647         0.888889      9
355         0.875000      8
638         0.875000      8
456         0.857143      7
651         0.800000      5